[imap_server]
hostname = some_server
ssl = yes
port = 993

[imap_account]
username = testuser
password = testpass

[smtp_server]
hostname = some_server
port = 453
ssl = yes

[smtp_account]
username = otheruser
password = otheruser_pass

[bot]
name = ExampleBot
address = example_bot@example.com
